$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.card {
    &-container {
        padding: 10% 18%;
    }
    &-list {
        display: flex;
    }
    &-item {
        width: 33.33%;
        padding: 4.5rem;
        &:first-child {
            background-color: $bright-orange;
        }
        &:nth-child(2) {
            background-color: $dark-cyan;
        }
        &:last-child {
            background-color: $very-dark-cyan;
        }
    }
    &-icon {
        margin-bottom: 4rem;
    }
    &-title {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
    &-desc {
        line-height: 1.6;
        color: hsla(0, 0%, 100%, 0.75);
        margin-bottom: 9rem;
    }
    &-button {
        display: inline-block;
        padding: 1.5rem 3rem;
        background-color: hsl(0, 0%, 95%);
        border: 2px solid transparent;
        border-radius: 2rem;
        &-1 {
            color: $bright-orange;
        }
        &-2 {
            color: $dark-cyan;
        }
        &-3 {
            color: $very-dark-cyan;
        }
        &:hover {
            color:hsl(0, 0%, 95%);
            background-color: transparent;
            border-color: hsl(0, 0%, 95%);
        }
    }
}

// Desktop, large screens
@media only screen and (max-width: 1200px) {
    .card {
        &-container {
            padding: 5% 6%;
        }
    }
}

// Small screens, laptops
@media only screen and (max-width: 1024px) {
    .card {
        &-button {
            padding: 1rem 2rem;
        }
    }
}


// Tablets, mobile devices
@media only screen and (max-width: 768px) {
    .card {
        &-list {
            flex-direction: column;
        }
        &-item {
            width: 100%;
        }
        &-desc {
            margin-bottom: 2.5rem;
        }
        &-button {
            padding: 1.5rem 3rem;
        }
    }
}

